# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# IDE / editor files
.vscode/
.idea/
*.swp
*.swo
*.bak

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Kivy / App specific
*.kv~
.kivy/
.kivy_config/
